/*modal container*/
.sm-modal-container {
	position: relative;
	height: 100vh;
	width: 100%;
	position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #00000057;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.sm-modal-content {
	width: auto;
	background-color: #fff;
    border-radius: 5px;
	display: none;
	box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.04);
	animation-name: modalAnimation;
	animation-duration: 0.5s;
}

/*modal1*/
.sm-modal-content1 {
	width: 50%;
}

.sm-modal-body {
	display: grid;
	grid-template-columns: 1fr 2fr;
	min-height: 1px;
	padding: 35px 0;
}

.modal-left {
	border-right: solid 1px #979797;
}

.modal-left>ul {
	list-style-type: none;
	padding: 0;
}

.modal-left li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	opacity: 0.5;
	padding: 10px 24px;
	transition: 0.2s;
	box-sizing: border-box;
}

.modal-left li:nth-child(1):hover {
	opacity: 1;
	border-left: 5px solid #486dab;
	background-color: #f3f3f3;
}

.modal-left li:nth-child(2):hover {
	opacity: 1;
	border-left: 5px solid #36c7f6;
	background-color: #f3f3f3;
}

.modal-left li:nth-child(3):hover {
    opacity: 1;
    border-left: 5px solid #8dc51e;
    background-color: #f3f3f3;
}

.modal-left li:nth-child(4):hover {
    opacity: 1;
    border-left: 5px solid black;
    background-color: #f3f3f3;
}

.modal-left li:nth-child(5):hover {
    opacity: 1;
    border-left: 5px solid #5282b8;
    background-color: #f3f3f3;
}

.modal-left li:nth-child(6):hover {
    opacity: 1;
    border-left: 5px solid #000;
    background-color: #f3f3f3;
}

.modal-left span{
	font-family: Arial;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    cursor: pointer;
    padding-left: 7px;
}

.modal-right {
	padding: 20px 15px;
}


.cm-social-body > span {
    display: block;
    text-align: left;
}


.cm-social-body{
    display: none;
}

.active-body{
    display: block;
}

.cm-social-btn {
    cursor: pointer;
}

.cm-linkedin-btn.active-social-btn{
    opacity: 1;
    border-left: 5px solid #486dab;
    background-color: #f3f3f3;
}

.cm-twitter-btn.active-social-btn{
    opacity: 1;
    border-left: 5px solid #36c7f6;
    background-color: #f3f3f3;
}

.cm-wechat-btn.active-social-btn{
    opacity: 1;
    border-left: 5px solid #8dc51e;
    background-color: #f3f3f3;
}
.cm-buffer-btn.active-social-btn{
    opacity: 1;
    border-left: 5px solid black;
    background-color: #f3f3f3;
}

.cm-vk-btn.active-social-btn{
    opacity: 1;
    border-left: 5px solid #5282b8;
    background-color: #f3f3f3;
}

.cm-hootsuite-btn.active-social-btn{
    opacity: 1;
    border-left: 5px solid #000;
    background-color: #f3f3f3;
}


.span-header {
	font-family: Arial;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
}

.span-text {
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    padding-top: 10px;
}

.modla-right-buttons {
	padding: 20px 0 15px 0; 
}

.cancel-button {
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 20px; 
}

.cancel-button:hover {
	color: #23527c;
}

/*modal2*/
.sm-modal-content2 {
	width: 55%;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.sm-modal2-body {
	padding: 0 0 0 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.modal2-text {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}

.modal2-left {
	border-right: 1px solid #5b5b5b;
	padding: 20px 35px 0 0;
}

.modal2-select-div {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.04);
    height: 45px;
    border: solid 1px #dddddd;
    margin-top: 3%;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 5px 10px;
    box-sizing: border-box;
}

.sm-more-options {
    padding: 7px;
    border-left: 1px solid #36c7f6;
    cursor: pointer;
    position: relative;
}

.sm-more-options button {
    background: none;
    border: none;
    color: #333;
    font-family: Arial;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}

.sm-more-options button:hover {
    color: #8c8c8c;  
}

.contents {
	padding: 10px 0;
}

.contents>span {
	font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}

.contents>textarea {
	resize: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    display: block;
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    padding: 10px;
}

.contents>textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.contents>label {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    background: #337ab7;
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
}

.publish-time>span {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}

.publish-time {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.publish-time>div {
	display: flex;
	margin-top: 5px;
}

.publish-time label {
    font-family: Arial;
	font-size: 13px;
	font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    width: 100px;
}

.modal2-top {
	border-radius: 0;
	height: 420px;
    overflow-x: auto;
    padding: 2rem;
    background: #5b5b5b;
}

.modal2-bottom {
	padding: 1rem 2rem 1rem 0;
	display: flex;
	justify-content: flex-end;
}

.modal2-bottom>button {
	margin-right: 5px;
}

.btn-blue {
    width: auto;
    height: 38px;
    border-radius: 5px;
    background-color: #4ac3ff;
    box-shadow: 0 2px 1px 0 #0576ae;
    color: #fff;
    vertical-align: top;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Arial';
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1.5;
	min-width: 120px;
	outline: none;
}

.btn-grey {
    width: auto;
	outline: none;
    height: 38px;
    border-radius: 5px;
    background-color: #ddd;
	box-shadow: 0 2px 1px 0 #8c8c8c;
    color: #333;
    vertical-align: top;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Arial';
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 1.5;
	min-width: 120px;
}

.btn-blue:active, .btn-grey:active {
	box-shadow: none;
}

.modal2-top::-webkit-scrollbar {
    display: none;
}

/*modal3*/
.sm-modal-content3 {
	width: 40%;
}

.sm-modal3-body {
	padding: 20px; 
}

.blue-modal-header {
	text-align: left;
	color: #00c1ea;
    font-family: Arial;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: normal;
}

.sm-form-group {
	display: flex;
	flex-direction: column;
    margin-bottom: 15px;
}

.sm-form-group>label {
	font-family: Arial;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
    margin-bottom: 5px;
}

.sm-form-group>input {
	font-family: Arial;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7c7e80;
    margin-left: 0px;
    height: 40px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #a7cfdb;
    padding-left: 15px;
    outline: none;
}

.modal-buttons {
	margin-bottom: 15px;
}

@keyframes modalAnimation {
	from {margin-top: -200px;}
	to {margin-top: 0px;}
}

.sm-modal-content4 {
    padding: 20px;
    width: 90%;
    max-width: 1000px;
}

.sm-modal4-body {
    display: flex;
    flex-direction: column;
}

.cm-font-lg {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
}

.sm-modal4-body>select, .sm-modal4-body>textarea, .sm-modal4-body>span, .sm-modal4-body>input {
    margin-bottom: 20px;
    display: block;
}

.sm-modal4-body>select, .sm-modal4-body>input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
}

.flex-box, .buffer-post-flex {
    display: flex;
    justify-content: flex-end;
}

.sm-modal-content5, .sm-modal-content6 {
    width: 40%;
}

.sm-modal5-body, .sm-modal6-body {
    display: flex;
    padding: 20px 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#schedule-modal .panel-heading {
    padding: 5px 10px;
    min-height: 32px;
}

#schedule-modal .panel, #schedule-modal .panel-heading {
    border-radius: 0;
}
.panel-info>.panel-heading {
    color: #31708f;
    border-color: #bce8f1;
}
.twitter-bg {
    background-color: #36c7f6 !important;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    padding: 8px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title i {
    color: white;
    line-height: 23px;
}

#schedule-modal .Page-2 {
    width: 50px;
}
.Page-2 {
    padding: 10px;
    border-radius: 50%;
}

.pull-left {
    float: left!important;
}

#schedule-modal .Firstname-Lastname {
    padding-top: 6px;
}
.Firstname-Lastname {
    display: inline-block;
    vertical-align: middle;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    margin-top: 5%;
}

#schedule-modal .Firstname-Lastname span, #schedule-modal .Firstname-Lastname div {
    font-size: 0.8em;
}

.days-ago {
    height: 19px;
    font-family: Arial;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #B3B8BA;
    display: block;
}

.cm-font-sm-bold {
    font-size: 0.7em;
    margin: 10px 10px 20px;
    text-align: justify;
    font-family: Arial;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #231f20;
    padding: 10px 0;
}

#immediately, #schedule {
    margin-right: 3%;
}


#social_network_list{
    display: none;
    position: absolute;
    top: 100%;
    left: -11px;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    flex-direction: column;
}

.fa-chevron-down {
    color: #36c7f6;
}

#social_network_list li{
    padding: 0.5rem !important;
}
#social_network_list li:hover {
    background-color: #eeeeee;
}


.cm-avatar-item{
    width: 40px;
    position: relative;
    margin-right: 7px;
}

.cm-avatar-box{
    display: flex!important;
    position: relative;
}


.avatar-item-social-icon{
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: -10px;
    margin-top: 17px;
}


.cm-avatar-item[data-active='inactive']{
    display: none;
}
.cm-avatar-item[data-active='active']{
    display: block;
}

.panel-info[data-active='inactive']{
    opacity: 0.6;
}

.panel-info[data-active='active']{
   opacity: 1;
}

.linkedin-bg{
    background-color: #0073b1 !important;
}

.panel-title-img{
    position: relative;
    right: 2px;
    width: 22px;
    margin-right: 5px;
}

.cm-modal-avatar-remove{
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 0;
    color: #a30d19;
}


.cm-avatar-remove{
   cursor: pointer;
    position: absolute;
    top: -4px;
    right: 11px;
    color: #a30d19;
}


.cm-avatar-box .avatar-item-social-icon{
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -6px;
    margin-top: 17px;
}

.post-notification-message{
    width: 600px;
    height: 90px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}



#show-notification-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #0000004d;
}   

#twitter-notification-msg{
    margin-bottom: 10px;
}


#linkedin-notification-msg,#twitter-notification-msg,#buffer-notification-msg,#remove-account-msg{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
}

#close-notification-modal{
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    background-color: #4ac3ff;
    color: #ffffff !important;
    box-shadow: 0 2px 1px 0 #0576ae;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    border: none;
    padding: 7px 20px;
}






#twitter-profile-modal,#linkedin-profile-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #0000004d;
}

#twitter-profile-modal-body,#linkedin-profile-modal-body{
    max-width: 800px;
    width: 100%;
    height: 340px;
    background: white;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#linkedin-profile-modal-body{
    height: 300px!important;
}

#linkedin-profile-right-block{
    min-height: unset!important;
}


#twitter-profile-left-block,#linkedin-profile-left-block{
    max-width: 270px;
    min-height: 50px;
    width: 34%;
}


.twp-modal-nav,.lnkp-modal-nav{
    padding: 0!important;
}


#twp-twitter-btn,#lnkp-linkedin-btn{
    background-color: #f3f3f3;
    border-left: 5px solid #36c7f6;
    height: 50px;
    width: 80%;
    list-style: none;
    margin-top: 1.5rem !important;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}


#twp-twitter-btn img,#lnkp-linkedin-btn img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 10px;
}


#twp-twitter-btn a,#lnkp-linkedin-btn a {
    font-family: Arial;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    text-decoration: none;
    cursor: pointer;
    vertical-align: bottom;
}


#twitter-profile-right-block,#linkedin-profile-right-block{
    max-width: 526px;
    min-height: 270px;
    width: 66%;
    border-left: 1px solid black;
    padding:20px 15px ;
    box-sizing: border-box;
}


#twp-right-body,#lnkp-right-body{
    width: 100%;
    height: 100%;
}

#twp-right-body-title,#lnkp-right-body-title{
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
}


#twp-right-body-info,#lnkp-right-body-info{
    margin-top: 10px
}
#twp-right-body-info ul,#lnkp-right-body-info ul{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
}

#twp-right-body-info ul li,#lnkp-right-body-info ul li{
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    line-height: 21px;
}


#twp-cancel-btn,#lnkp-cancel-btn {
    cursor: pointer;
    vertical-align: bottom;
    display: inline-block;
    text-decoration: none;
    padding-top: 8px;
    margin-left: 20px;
    font-size: 16px;
    width: auto;
    border-radius: 5px;
    background-color: #4ac3ff;
    color: #ffffff !important;
    box-shadow: 0 2px 1px 0 #0576ae;
    vertical-align: top;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 20px;
    border: none!important;
}


.twp-buttons_wrap,.lnkp-buttons_wrap{
    margin-top: 24px;
}

#lnkp-updateToken{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 18px;
    text-decoration: none;
}


#linkedinButton{
    margin-top: 30px;
}


#lnkp-getCompanyPages{
     color: #fff;
    background-color:#4ac3ff;
    border-color: #4cae4c;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 18px;
    text-decoration: none;
}


#lnkp-updateToken:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

#lnkp-getCompanyPages:hover{
    background:#2f95c7;
}


.hide-account{
    display: none!important;
}


#buffer-compose-modal{
    width: 100%;
    height: 100vh;
    background-color: #00000057;
    position: fixed;
    left: 0;
    top: 0;
}

#buffer-compose-container{
    width: 1000px;
    max-height: 686px;
    background: white;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px ;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    outline: 0;
    overflow-x: auto;
}

#buffer-compose-container label{
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #8c8c8c;
}


#buffer-compose-container select{
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}


#buffer-compose-container textarea{
    width: 100%;
    height: 214px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0;
}

#buffer-compose-container input{

    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 20px;

}


#buffer-post-btn{
    padding: 9px 44px;
    font-size: 17px;
    float: right;
}